animspeed = .5s 
snap      = cubic-bezier(.2,1,.5,1)
accent    = #F92772
fontcolor = #333
bodybg    = #F4F3F1

vendor(style,property,middle = \ )
  if type(property) is 'strikeng'
    property = unquote(property)
  -webkit-{style} middle property
  -moz-{style}    middle property
  -ms-{style}     middle property
  -o-{style}      middle property
  {style}         middle property

transform(val = none)
  vendor(transform,val)

transition(val = none)
  vendor(transition-property,val)
  vendor(transition-duration,animspeed)
  vendor(transition-timing-function,snap)

animate(name)
  vendor(animation, animspeed snap, name)

@import url('http://fonts.googleapis.com/css?family=Roboto:400,500,700')

body
  background  bodybg
  font-family 'Roboto', sans-serif
  text-align  center
  color       fontcolor

nav
  padding-bottom 30px
  .navis
    width 50%
    float left
    &.prev
      text-align left
      .fa
        padding-right 10px
    &.next
      text-align right
      .fa
        padding-left 10px

header,#head
  margin-bottom 60px

a
  color           fontcolor
  text-decoration none
  position        relative
  padding         10px 15px
  transition(all)
  &:hover,&:active,&:focus,&.active
    color accent
  &.big
    color           accent
    &:after
      content       ''
      position      absolute
      left          0
      top           0
      width         100%
      height        100%
      border-bottom 3px solid transparent
      transition(all)
      transform(scale(.2))
    &:hover,&:active,&:focus,&.active
      &:after
        border-color accent
        transform(scale(1))

em
  color         accent
  font-style    unset
pre
  p
    position    relative
    left        25%
    width       50%
    text-align  left
    padding     0
    margin      0
    font-family 'Roboto', sans-serif
  code 
    width            50%
    position         relative
    display          block
    text-align       left
    left             25%
    background-color darken(bodybg,5%)
    padding          20px

@keyframes log
  from
    top 100px
    opacity 0
  to
    top 0
    opacity 1
#logger
  position fixed
  bottom   0px
  width    100%
  background-color darken(bodybg,5%)
  .log
    position relative
    animate(log)

