animspeed = .5s 
snap      = cubic-bezier(.2,1,.5,1)
accent    = #DD1144
fontcolor = #333
bodybg    = #F4F3F1

vendor(style,property,middle = \ )
  if type(property) is 'strikeng'
    property = unquote(property)
  -webkit-{style} middle property
  -moz-{style}    middle property
  -ms-{style}     middle property
  -o-{style}      middle property
  {style}         middle property

transform(val = none)
  vendor(transform,val)

transition(val = none)
  vendor(transition-property,val)
  vendor(transition-duration,animspeed)
  vendor(transition-timing-function,snap)

animate(name)
  vendor(animation, animspeed snap, name)

@import url('http://fonts.googleapis.com/css?family=Roboto:400,500,700')
@import url('http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700,700italic,400italic');

body
  background  bodybg
  font-family 'Roboto', sans-serif
  color       fontcolor
*
  box-sizing border-box
hr 
  border-color accent
  border-style solid
  border-width 2px
  width 20%
  margin 10px 0
  margin-bottom 40px

main
  width 60%
  margin 0 auto

.links
  position   fixed
  right      50px
  top        50px
  text-align right

header,#head
  margin-bottom 60px
  h3
    text-align right
h2
  margin-top  60px

.clear
  &:after
    content    ''
    clear      both
    display    block
    visibility hidden
    height     0px


a
  color           fontcolor
  text-decoration none
  position        relative
  transition(all)
  &:hover,&:active,&:focus,&.active
    color accent
  &.big
    color accent
    &:hover,&:active,&:focus,&.active
      color fontcolor

.content 
  padding-left 30px

p
  width       50%
  text-align  justify
em
  color         accent
  font-style    unset

pre
  display          block
  white-space      pre-wrap
  word-break       break-all
  word-wrap        break-word
  width            100%
  position         relative
  display          block
  text-align       left
  padding          0
  overflow         auto
  code
    font-size        14px
    font-family      'Anonymous Pro',monospaced !important
    line-height      1.4em
    padding          20px !important
    background-color bodybg !important
    border-left      3px solid accent


@keyframes log
  from
    top 100px
    opacity 0
  to
    top 0
    opacity 1
#logger
  position fixed
  bottom   0px
  width    100%
  background-color darken(bodybg,5%)
  .log
    position relative
    animate(log)

