animspeed = .5s 
snap      = cubic-bezier(.2,1,.5,1)
accent    = #DD1144
fontcolor = #333
bodybg    = #F4F3F1
docwidth  = 75%

vendor(style,property,middle = \ )
  if type(property) is 'strikeng'
    property = unquote(property)
  -webkit-{style} middle property
  -moz-{style}    middle property
  -ms-{style}     middle property
  -o-{style}      middle property
  {style}         middle property

transform(val = none)
  vendor(transform,val)

transition(val = none)
  vendor(transition-property,val)
  vendor(transition-duration,animspeed)
  vendor(transition-timing-function,snap)

animate(name)
  vendor(animation, animspeed*2 snap forwards, name)

@import url('http://fonts.googleapis.com/css?family=Roboto:400,500,700')
@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700,700italic,400italic');

body,html
  background  bodybg
  font-family 'Roboto', sans-serif
  color       fontcolor
  margin      0
  padding     0
  padding-top 50px
  position    absolute
  width       100%
*
  box-sizing border-box
hr 
  border-color accent
  border-style solid
  border-width 2px
  width ((100% - docwidth) / 2)
  margin 10px 0
  margin-bottom 40px

main
  width docwidth
  margin 0 auto

.links
  position   fixed
  right      ((100% - docwidth) / 2)
  top        50px
  text-align right
  z-index    999999
header
  margin-bottom 100px

h2
  margin-top  60px

.clear
  &:after
    content    ''
    clear      both
    display    block
    visibility hidden
    height     0px


a
  color           lighten(fontcolor,40%)
  text-decoration none
  position        relative
  transition(all)
  &:hover,&:active,&:focus,&.active
    color accent
  &.big
    color accent
    &:hover,&:active,&:focus,&.active
      color fontcolor

.content 
  padding-left 30px


  
@keyframes bounce
  0%,10%,20%,50%,80%
    transform(translateY(0))
  40%
    transform(translateY(-5px))
  60%
    transform(translateY(-5px))

.run
  display inline-block
  cursor  pointer
  &:hover,&:active,&:focus,.active
    i
      color accent
      left  20px
      opacity 1
      animate(bounce)
    .show
      opacity 1
  i
    left     0px
    position relative
    opacity  0
    transition(all)
  .show
    opacity       .4
    transition(opacity)


p
  width       50%
  text-align  justify
em
  color         accent
  font-style    unset

pre
  display          block
  white-space      pre-wrap
  word-break       break-all
  word-wrap        break-word
  width            100%
  position         relative
  display          block
  text-align       left
  padding          0
  overflow         auto
  code
    font-size        14px
    font-family      'Source Code Pro',monospaced !important
    line-height      1.4em
    padding          20px !important
    background-color bodybg !important
    border-left      3px solid accent


@keyframes log
  from
    top 50px
    opacity 0
  to
    top 0
    opacity 1

@keyframes logout
  from
    top 0px
    opacity 1
  to
    top 50px
    opacity 0

#logger
  position fixed
  bottom   0px
  right    ((100% - docwidth) / 2)
  width    auto
  z-index  9999
  .log
    text-align right
    width            100%
    display          table
    position         relative
    padding          3px 0px 
    span
      padding          5px 10px
      color            bodybg
      background-color alpha(accent,90%)
      border-radius    3px
    &.in
      animate(log)
    &.out
      animate(logout)